.fa-xxl{
    font-size: 37px;
}

h4 a{

    text-decoration: none;
    color: black;
    font-weight: 400;
}

.bg-secondaryy{
    background-color: #F6F7F9FF;
}

.col-lg-8 h1{
    font-size: 49px;
    font-weight: bold;
}

.col-lg-8 p{
    font-size: 24.5px;
}

.col-lg-8 button{
    font-size: 20px;
}

.bg-darkk{
    background-color: #21252AFF;
}

.bg-darkk h1{
    font-size: 32px;
}

.bg-darkk button{
    font-size: 15px;
}

.bg-whitee h1{
    font-size: 32px;
}

.bg-whitee button{
    font-size: 15px;
}

.bg-whitee{
    background-color: #F6F7F9FF;
}