nav{
    background-color: #343a40;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.a-upper{
    font-size: 22px;
}

.a-lower{
    font-size: 18px;
    line-height: 30px;
}

nav div ul li a:nth-child(3):hover{
    color: white;
}

.a-lower-three:hover{
    color: rgba(255,255,255,.75)!important;
}
.a-lower-three {
    color: rgba(255, 255, 255, .5);
    font-weight: 400;
}

.dropdown{

}

.a{
    font-size: 18px;
}

.p-40{
    padding: 50px;
}

h1{
    font-size: 80px;
    font-weight: 300;
}

.container-fluid .container .w-100 p{
    font-size: 18px;
}

.container-fluid .container .w-100 button{
    font-size: 22px;
    font-weight: 400;
}

.i{
    font-size: 10px;
}

.i-i{
    font-size: 8px;
}

h2{
    font-size: 38px;
}

.f-2{
    font-size: 18px;
}

.mt-2 p{
    font-size: 18px;
}
