nav{
    background-color: #343a40;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.a-upper{
    font-size: 22px;
}

.a-lower{
    font-size: 18px;
    line-height: 30px;
}

nav div ul li a:nth-child(3):hover{
    color: white;
}

.a-lower-three:hover{
    color: rgba(255,255,255,.75)!important;
}
.a-lower-three {
    color: rgba(255, 255, 255, .5);
    font-weight: 400;
}

.a{
    font-size: 18px;
}

.mb-10{
    margin-bottom: 50px;
}

.py-40{
    padding-top: 50px;
    padding-bottom: 150px;
}

p a{
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}