h3{
    font-size: 24px;
    font-weight: 500;
}

.first-pp{
    font-weight: 400;
}

.text-p{
    font-weight: 600;
}

.end-p{
    font-size: 15px;
    font-weight: 400!important;
}

.link{
text-decoration: none;
}